[alias]

# View abbreviated SHA, description, and history graph of the latest 20 commits
l = log --pretty=oneline -n 20 --graph --abbrev-commit

# View the current working tree status using the short format
s = status -s

# Show the diff between the latest commit and the current state
d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

# `git di $number` shows the diff between the state `$number` revisions ago and the current state
di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

aa = add --all
br = branch
bra = branch --all
brd = branch -d
brD = branch -D
brm = branch -m
ci = commit
cia = commit --amend
cis = commit --squash
co = checkout
cob = checkout -b
cod = checkout develop
com = checkout main
f = fetch
last = log --graph --show-signature --pretty=short --max-count=10
logd = log --pretty=format:'- %s (%h)' --reverse develop..HEAD
logdpr = log --pretty=format:'- %s (%h)%n  %b' --reverse develop..HEAD --grep 'pull request'
logm = log --pretty=format:'- %s (%h)' --reverse main..HEAD
logmpr = log --pretty=format:'- %s (%h)%n  %b' --reverse main..HEAD --grep 'pull request'
p = push
pf = push --force-with-lease
pt = push --tags
pso = push --set-upstream origin
ra = remote add
re = rebase -i
rv = remote -v
sdiff = !git diff && git submodule foreach 'git diff'
spush = push --recurse-submodules=on-demand
stal = stash pop
stap = stash push
supdate = submodule update --init --recursive
tag = tag -a -s
[commit]
gpgsign = true
template = ~/.gitmessage
[core]
editor = code --wait
[credential]
helper = osxkeychain
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[github]
user = stlk
[gpg]
program = /opt/homebrew/bin/gpg
[init]
defaultbranch = main
[pull]
autostash = true
ff = only
rebase = true
[push]
default = simple
recursesubmodules = check
[rebase]
autosquash = true
autostash = true
[tag]
gpgsign = true
[user]
name = Josef Rousek
email = josef@rousek.name
	signingkey = D2D7C69B742490EA